<div class="mx-auto w-100 mb-3 alert alert-primary row">
    <p class="d-inline col">کارهای انجام شده : <span class="badge badge-primary badge-pill">
            <%= completedTodos %>
        </span></p>
    <p class="d-inline col">کارهای باقی مانده : <span class="badge badge-warning badge-pill">
            <%= remainingTodos %>
        </span></p>
</div>