<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <div
        style="width:100vw;height:100vh;border: 1px solid red;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <p>
            صفحه مورد نظر پیدا نشد
        </p>
        <a href="/" style="text-decoration: none;color: red;">بازگشت به صفحه اصلی</a>
    </div>
</body>

</html>