body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group {
  width: 50%;
  text-align: center;
  padding-bottom: 25px;
}
.form-group form {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.input-group-prepend {
  position: absolute;
  left: 3px;
  z-index: 99999 !important;
}
#todo {
  margin: 0 auto;
  width: 500px;
}

a.close {
  float: right;
}
